/* 메인스타일 */
.wrap_main {
    height: 100vh;
    overflow: hidden;
    background-image: url(../images/main_bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#main {
    width: 26.5vw;
    height: 100vh;
}
#main > div {
    width: 100%;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 a {
    display: flex;
    align-items: center;
    justify-content: center;
}
#main h1 a img {
    width: 6vw;
}
.copyright {
    text-align: center;
    font-size: 0.7vw;
    color: #666;
    padding-right: 1vw;
}

#ad_login {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 5vw;
}

#login_logo {
    display: block;
    width: 68px;
    height: 81.29px;
    background: url(../images/login_logo.svg) no-repeat center/cover;
}
.form h3 {
    font-weight: bold;
    font-size: 24px;
    margin: 25px 0 20px;
}
.form_list {
    margin-bottom: 10px;    
    box-sizing: border-box;
    border-bottom: 1px solid #d8d8d8;
}
.form_list:after {
    content: "";
    clear: both;
    display: block;
}
.form_list label {
    display: block;
    float: left;
    width: 120px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    padding-left: 40px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 15px center;
}
label.id_bg {
    background-image: url(../images/icon_id.svg);    
}
label.pw_bg {
    background-image: url(../images/icon_pw.svg);    
}
.form_list input {
    float: left;
    width: 300px;
    height: 50px;
    line-height: 50px;
    border: 0;
    font-size: 14px;
    padding: 0 20px;
    box-sizing: border-box;
    background: none;
    padding: 10px 20px;
}
.login_btn {
    background: #d7000f;
    border: none;
    width: 180px;
    height: 45px;
    border-radius: 100px;
    font-size: 16px;
    color: #fff;
    margin-top: 30px;
    cursor: pointer;
    transition: .3s;
}
.login_btn:hover {
    background: #090a0a;
}
.bg_title {
    position: fixed;
    right: 0;
    top: 0;
    width: 4.9vw;
    height: 100vh;
    background: url(../images/bg_ad_login.svg)no-repeat center/contain;
    margin-right: 4vw;
    z-index: -999;
}


/* 관리자모드 스타일 */

/* 헤더 */
#admin {
    position: fixed;
    width: 100%;
    height: 110px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    z-index: 99;
}
#admin h1 a {
    display: block;
    height: 80px;
    width: auto;
}
#admin h1 img {
    height: 80px;
}
.blank {
    display: block;
    background: transparent;
    width: 100%;
    height: 110px;
}
.cont {
    width: 1200px;
    margin: 10px auto;
    padding: 0 20px;
}
.title {
    padding: 0 10px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 10px;
}
.title h3 {
    line-height: 45px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
}
.menu {
    position: absolute;
    right: 20px;
    top: 0;
}
.menu .find_txt {
    float: left;
    border: none;
    border-bottom: 1px solid #d8d8d8;
    width: 180px;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
    display: none;
}
.menu .find_txt.act {
    display: block;
}
.menu > a {
    float: left;
    display: block;
    margin-left: 8px;
}
.menu > a img {
    width: 40px;
}

.member_box li {
    font-size: 14px;
}
.member_list { 
    width: 100%;
    height: calc(100vh - 300px);
    overflow-y: auto;
}
.list {
    display: flex;
    height: 80px;
    line-height: 80px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #d8d8d8;
}
.list:after {
    display: none;
}
.member_title { 
    height: 50px;
    line-height: 50px;
    color: #111;
}
.member_title li {
    font-size: 15px;
    letter-spacing: -0.03em;
}
/* 회원리스트 구분목록 */
.check {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.check input {
    display: block;
    width: 18px;
    height: 18px;
}

.member_id, .member_pw, .member_tel {
    width: 150px;
}
.member_name {
    width: 100px;
}
.member_mail {
    width: 200px;
}
.member_use, .member_modify {
    width: 90px;
}
.used {
    height: 30px;
    line-height: 30px;
    background: #999;
    border-radius: 30px;
    color: #fff;
    text-transform: uppercase;
}
.used.on {
    background: #d7000f;
}
.member_modify > a {
    display: block;
    height: 30px;
    line-height: 30px;
    background: #666;
    border-radius: 30px;
    color: #fff;
    transition: .4s;
}
.member_modify > a:hover {
    background: #090a0a;
}
.copyright.admin {
    position: absolute;
    bottom: 30px;
    text-align: center;
    width: 100%;
}

.bg_title.admin {    
    background: url(../images/bg_admin.svg)no-repeat center/contain;
}

/* 모달레이어팝업 */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    z-index: 999;
    padding-top: calc((100vh - 560px)/2);
    display: none;
}
.modal.on {
    display: block;
}
#pop_sign, #pop_modi {
    margin: auto;
    width: 750px;
    height: 500px;
    background: #fff;
    border-radius: 30px;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    display: none;
}
#pop_sign.on, #pop_modi.on {
    display: flex;
}
.pop_header {
    width: 180px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/logo_red.svg);
    background-repeat: no-repeat;
    background-size: 85px;
    background-position: center 80px;
}
.pop_header h3 {
    font-size: 24px;
    color: #111;
    font-weight: bold;
    margin-top: 10px;
}
.pop_list {
    width: calc(100% - 200px);
    padding: 30px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.pop_list > p {
    height: 45px;
    line-height: 45px;
    box-sizing: border-box;
    padding: 0 10px;
    display: flex;
    background-image: url(../images/icon_id.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 20px center;
    margin-bottom: 10px;
}

/* 항목별 아이콘  */

p.pop_name { 
    background-image: url(../images/icon_name.svg);
}
p.pop_pw { 
    background-image: url(../images/icon_pw.svg);
}
p.pop_pw2 { 
    background-image: url(../images/icon_pw2.svg);
}
p.pop_tel { 
    background-image: url(../images/icon_tel.svg);
}
p.pop_mail {
    background-image: url(../images/icon_mail.svg);
    
}

.pop_list label {
    display: block;
    width: 140px;
    text-align: center;
    padding-left: 20px;
    box-sizing: border-box;    
    font-size: 14px;
}
.pop_list input {
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    background: #eee;
    border: 1px solid #d8d8d8;
    box-sizing: border-box;
}
.pop_btnbox {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.pop_btn {
    width: 220px;
    height: 45px;
    line-height: 45px;
    border: none;
    background: #d7000f;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s;
    font-size: 14px;
}
.pop_btn:hover {
    background: #090a0a;
}
.pop_close {
    background: #999;
    margin-right: 10px;
}
